/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Bb]uild/
/[Bb]uilds/
/[Mm]emoryCaptures/
/[Rr]ecordings/

.vs/
.idea/
.vscode/
.gradle/
ExportedObj/
*.csproj
*.unityproj
*.sln
*.slnx
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta

.DS_Store
._*
Thumbs.db
Desktop.ini
sysinfo.txt
*.log
/crashlytics-build.properties

/[Aa]ssets/[Aa]sset[Ss]tore[Tt]ools*
/[Aa]ssets/Plugins/Editor/JetBrains*
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/[Aa]ssets/[Ss]treamingAssets/aa/
/[Aa]ssets/[Ss]treamingAssets/aa.meta

.env
.env.*
!.env.example
*.keystore
*.jks
